/* hanken-grotesk-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/hanken-grotesk-v8-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* hanken-grotesk-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/hanken-grotesk-v8-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* hanken-grotesk-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/hanken-grotesk-v8-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* hanken-grotesk-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/hanken-grotesk-v8-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* @link https://utopia.fyi/type/calculator?c=375,18,1.2,1440,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.7813rem, 0.7746rem + 0.0282vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9155rem + 0.0939vw, 1rem);
  --step-0: clamp(1.125rem, 1.081rem + 0.1878vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2752rem + 0.3192vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5027rem + 0.5005vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7689rem + 0.7473vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0796rem + 1.0801vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4418rem + 1.5254vw, 3.8147rem);

  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5405rem + 0.0939vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.853rem + 0.0939vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.081rem + 0.1878vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6215rem + 0.2817vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.162rem + 0.3756vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.243rem + 0.5634vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3239rem + 0.7512vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4859rem + 1.1268vw, 7.5rem);

  --color-gradient-1: linear-gradient(180deg, #7755ff, #2f2ce9);
  --color-gradient-2: linear-gradient(180deg, #4d21c9, #2521c900);
  --color-yellow: #ffb21e;
  --color-very-light-blue: #ecf2ff;
  --color-white: #ffffff;
  --color-light-blue: #cac9ff;
  --color-dark-navy: #303b59;

}

html{
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
  background-color: var(--color-very-light-blue);
  font-family: Hanken Grotesk;
  font-size: var(--step-0);
margin-top: var(--space-2xl);
}
main {
  background-color: var(--color-white);
  width: 375px;
  height: 809px;
}

.result {
  width: 100%;
  height: 356px;
  background-image: var(--color-gradient-1);
  display: flex;
  border-radius: 0px 0px 32px 32px;
  flex-direction: column;
  align-items: center;

  padding: var(--space-s) var(--space-xl) var(--space-l) var(--space-xl);
}
.result .score {
  margin: var(--space-s) var(--space-l) var(--space-s) var(--space-l);
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-image: var(--color-gradient-2);
  padding: var(--space-s) var(--space-l) var(--space-m) var(--space-l);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result .score h2 {
  font-size: 56px;
  font-weight: 800;
}
.result .score h3 {
  margin-top: -0.5rem;
  font-size: var(--step-0);
  color: #cac9ff66;
}
.result h1 {
  font-weight: 700;
  font-size: var(--step-0);
  color: var(--color-light-blue);
}
.result h2 {
  font-weight: 700;
  font-size: var(--step-1);
  color: var(--color-white);
}
.result p {
  color: var(--color-light-blue);
  font-weight: 500;
  font-size: var(--step--1);
  text-align: center;
}
.summary {
  margin: var(--space-s) var(--space-m) var(--space-s) var(--space-m);
}
.summary h1 {
  font-weight: 700;
  font-size: var(--step-0);
  color: var(--color-dark-navy);
}
.details {
  width: 100%;
  height: 56px;
  border-radius: var(--space-xs);
  background-color: var(--color-yellow);
  margin-top: var(--space-s);
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 2fr;
  padding: var(--space-xs) var(--space-xs) var(--space-l) var(--space-xs);
}
.details h2,h3,h4 {
  font-size: var(--step-0);
  font-weight: 700;
}
.details h3,h4 {
    justify-self: end;
}
.details h3 {
    color: var(--color-dark-navy);
}

.details h4{
    color: var(--color-light-blue);
}
.details h2{
    margin-left: 1rem;;
}
.details img {
  margin: var(--space-3xs);
}
.details-0 {
    background-color: #ff555511;
}
.details-0 h2 {
    color: #ff5555;
}
.details-1 {
    background-color: #ffb21e11;
}
.details-1 h2 {
    color: #ffb21e;
}
.details-2 {
    background-color: #00bb8f11;
}
.details-2 h2 {
    color: #00bb8f;
}
.details-3 {
    background-color: #1125D611;
}
.details-3 h2 {
    color: #1125D6;
}
button {
  width: 100%;
  background-color: var(--color-dark-navy);
  border-radius: 28px;
  height: 56px;
  margin-top: var(--space-s);
}
button p {
  color: var(--color-white);
  font-weight: 700;
  font-size: var(--step-1);
}
